[Desktop Entry]
Version=1.0
Name=Xazab Core
Comment=Xazab P2P Cryptocurrency
Comment[de]=Verbinde mit dem Xazab peer-to-peer Netzwerk
Comment[fr]=Xazab, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Xazab, eşten eşe kriptografik sanal para birimi
Exec=xazab-qt %u
Terminal=false
Type=Application
Icon=xazab128
MimeType=x-scheme-handler/xazab;
Categories=Office;Finance;
StartupWMClass=Xazab-qt
